form{
    width: 40%;
    margin: 0 auto;
    background-color: rgba(48, 119, 119, 0.1);
    border-radius: 1rem;
    margin-bottom: 5rem;
    margin-top: 7rem;
    padding: 2rem 0rem;
}

fieldset{
    border: none;
}

legend{
    display: block;
    font-size: 20pt;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin: 2rem auto 0rem auto;
}

label{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    font-family: 'Kanit-Light';
    padding: 0 auto;
}

input{
    display: block;
    margin: 0 auto;
    background-color: rgb(27, 40, 44);
    border: 2px solid rgb(97, 197, 197);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    width: 80%;
}

input:focus, textarea:focus{
    outline: none;
}

textarea{
    display: block;
    margin: 0 auto;
    background-color: rgb(27, 40, 44);
    border: 2px solid rgb(97, 197, 197);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    width: 80%;
}

button{
    display: flex;
    color: #fff;
    background-color: rgb(58, 121, 121);
    border: none;
    border-radius: 0.4rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

button span{
    padding-right: 1rem;
}

button div{
    font-size: 12pt;
    font-family: 'Kanit-Light';
}

@media screen and (max-width: 1000px) {
    form{
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    form{
        width: 85%;
    }
}