strong{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12pt;
}

h1{
    padding-left: 1.5rem;
    font-size: 35pt;
}

.projects{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.item-project{
    display: block;
    background-color: rgba(48, 119, 119, 0.1);
    width: 85%;
    margin: 0rem auto;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 0.7rem 0.4rem;
}

.item-project p{
    font-family: 'Kanit-Light';
}

.item-project .tag-pj{
    font-size: 10pt;
    background-color: rgba(48, 119, 119, 0.514);
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.item-project a{
    color: rgb(97, 197, 197);
    text-decoration: none;
    border: 2px solid rgba(97, 197, 197, 0);
    border-radius: 1.5rem;
    padding: 0.3rem 1rem;
    transition: 0.5s all;
}

.item-project a:hover{
    border: 2px solid rgb(97, 197, 197);
}



.html:hover{
    color: rgba(255, 139, 139, 0.863);
}

.css:hover{
    color: rgba(53, 200, 245, 0.863);
}

.js:hover{
    color: rgba(255, 228, 139, 0.863);
}

.php:hover{
    color: rgba(123, 158, 255, 0.863);
}

.sql:hover{
    color: rgba(0, 238, 238, 0.863);
}

.java:hover{
    color: rgba(255, 139, 139, 0.863);
}

.bootstrap:hover{
    color: rgba(164, 139, 255, 0.863);
}

.git:hover{
    color: rgba(107, 204, 144, 0.863);
}

.materialize:hover{
    color: rgba(255, 139, 139, 0.863);
}

.android:hover{
    color: rgba(97, 194, 145, 0.863);
}

.jquery:hover{
    color: rgba(255, 243, 139, 0.863);
}

.node:hover{
    color: rgba(166, 255, 139, 0.863);
}

.uml:hover{
    color: rgba(255, 139, 164, 0.863);
}

.inkscape:hover{
    color: rgba(179, 176, 176, 0.863);
}

.kodular:hover{
    color: rgba(255, 139, 249, 0.863);
}

.xampp:hover{
    color: rgba(255, 214, 139, 0.863);
}

.materialdesign:hover{
    color: rgba(206, 202, 198, 0.863);
}

.cloud:hover{
    color: rgba(19, 178, 226, 0.863);
}